<tr>
  <td><%= job.id %></td>
  <td><%= job.queue %></td>
  <td><%= job.priority %></td>
  <td><%= job.attempts %></td>
  <td><%= YAML.load(job.handler).method_name %></td>
  <td><%= job.created_at %></td>
  <td><%= job.run_at %></td>
  <td><%= job.failed_at %></td>
  <td><%= job.last_error %></td>
</tr>