<tr <%= "class=danger" if job.attempts > 0 %>>
  <td><%= link_to job.id, job_path(job.id) %></td>
  <td><%= job.queue %></td>
  <td><%= job.priority %></td>
  <td><%= job.attempts %></td>
  <td><%= link_to YAML.load(job.handler).method_name.to_s.gsub!('_without_delay', ''), job_path(job.id) %></td>
  <td><%= job.run_at %></td>
  <td><%= job.created_at %></td>
  <td><%= job.updated_at %></td>
  <td>
    <span class="label label-<%= job.locked_at ? 'success' : 'primary' %>">
      <%= job.locked_at ? 'Running' : 'Queued' %>
    </span>
  </td>
  <td><%= link_to 'Delete', delete_job_path(job), class: 'btn btn-xs btn-danger' %></td>
</tr>